.arial {
   font-family: Arial, Helvetica, sans-serif;
 }
 
 .candara {
   font-family: Candara, Verdana, sans-serif;
 }

body { 
    color: #000000;
    background-color: #ffffff;
    font-family: arial;
    font-size: 1.2em;
 }
 p { 
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    padding: 5px;
    width: 200px;
    background-color: #ffffff;
 }

 
h1 {
   color: green;
   font-family: arial;
   border-color: #000000;
 }
 
h1 {
   color: green;
 }
 
h1 {
   color: green;
 }
 
h1 {
   color: green;
 }
 
h1 {
   color: green;
 }
 
h1 {
   color: green;
 }