/* Generell stil definieras. */
body { 
   color: #000000;
   background-color: #ffffff;
   font-family: Candara, Verdana, sans-serif;
   font-size: 1.2em;
}
/* Gör tabeller synbart olika. */
.tabell1 {
   background-color: #ffcccc;
}
.tabell2 {
   background-color: #ffcc99;
}
/* Unik ID för källhänvisningar. */
#source {
   color: #009900;
   text-align: right;
   font-size: small;
}
/* För markering av footer. */
.foot {
   background-color: black;
   color: white;
}
/* Typsnittet för headers 1-6. */
h1, h2, h3, h4, h5, h6 {
   font-family: Arial, Helvetica, sans-serif;
}
/* Inrutar tabuleringar, ger table headers en understykning,
   vänsterjusterar texten och skapar lite utrymme mellan raderna. */
table {
   border: 1px solid black;
}
th {
   border-bottom: 1px solid black;
   padding: 5px;
   text-align: left;
}
td {
   padding: 5px;
   text-align: left;
}
/* Vänsterjusterar rubriker och ger dem fetstil.*/
caption {
   text-align: left;
   font-weight: bold;
}
/* Länkar blir lila när muspekaren hovrar över länktext. */
a:hover {
   color: purple;
 }
