/* Generell stil definieras. */
body { 
   color: #000000;
   background-color: #ffffff;
   font-family: Candara, Verdana, sans-serif;
   font-size: 1.2em;
}
/* Det här är en kommentar */
.tabell1 {
   background-color: #ffcccc;
}
.tabell2 {
   background-color: #ffcc99;
}
/* Det här är en kommentar */
#source {
   color: #009900;
   text-align: right;
   font-size: small;
}
/* Det här är en kommentar */
.foot {
   background-color: black;
   color: white;
}
/* Det här är en kommentar */
h1, h2, h3, h4, h5, h6 {
   font-family: Arial, Helvetica, sans-serif;
}
/* Det här är en kommentar */
table {
   border: 1px solid black;
}
th {
   border-bottom: 1px solid black;
   padding: 5px;
   text-align: left;
}
td {
   padding: 5px;
   text-align: left;
}
/* Det här är en kommentar */
caption {
   text-align: left;
   font-weight: bold;
}
/* Det här är en kommentar */
a:hover {
   color: purple;
 }
